---
import InfoIcon from '@/components/icons/InfoIcon.astro'

const { img, titulo, resumen, path, tags } = Astro.props
---
<article
  class='h-full flex flex-col mx-auto justify-between gap-y-6 max-w-[700px] lg:max-w-none bg-secondary rounded-lg sombra cursor-crosshair hover:shadow-xl hover:shadow-primary transition-all duration-300'
>
  <div class='flex flex-col justify-between gap-y-6'>
    <picture class='flex flex-col'>
      <img
        loading='lazy'
        src={`${img}`}
        class='object-cover aspect-video h-[300px] rounded-t-lg'
        alt={`Imagen de ${titulo}`}
      />
    </picture>

    <div class='flex flex-col justify-between px-5'>
      <div class='flex flex-col gap-y-4 md:min-h-[270px] pb-5 md:pb-0'>
        <h3 class='text-2xl font-bold text-tertiary'>{titulo}</h3>
        <p class='text-sm text-pretty pb-2'>{resumen}</p>
        <ul class='flex flex-wrap gap-2 flex-row items-center pb-8'>
          {
            tags.map((tag: any) => (
              <li>
                <span
                  class={`flex gap-x-1 items-center rounded-full text-xs xlmax:text-sm ${tag.class} py-1.5 px-2 border border-white/10 shadow-md`}
                >
                  <tag.icon class='size-4 ize-5:size-5' />
                  {tag.name}
                </span>
              </li>
            ))
          }
        </ul>

      </div>

      <div class='flex justify-end items-end'>

          <a
            href={`/info/${path}`}
            class='flex items-center gap-x-2 font-medium rounded-lg bg-gradient-to-r from-green-500 to-emerald-600 transition hover:from-green-600 hover:to-emerald-600 text-xs md:text-sm text-white py-2 px-3 shadow-md'
          >
            <InfoIcon />
            Saber más
          </a>
      </div>
    </div>
  </div>

  <span class='h-2 bg-gradient-to-r from-green-300 to-emerald-500 rounded-b-lg'
  ></span>
</article>
