---
import InfoIcon from '@/components/icons/InfoIcon.astro'

const { img, titulo, resumen, path, tags } = Astro.props
---

<article
  class='flex flex-col mx-auto justify-between gap-y-6 max-w-[700px] lg:max-w-none bg-white rounded-lg sombra cursor-crosshair hover:shadow-xl lg:hover:scale-[1.02] transition-all duration-300'
>
  <div class='flex flex-col justify-between gap-y-6'>
    <picture class='flex flex-col'>
      <img
        loading='lazy'
        src={`${img}`}
        class='object-cover aspect-video lg:aspect-auto md:h-[240px] lg:h-[260px] xl:h-[280px] rounded-t-lg shadow-md'
        alt={`Imagen de ${titulo}`}
      />
    </picture>

    <div class='flex flex-col justify-between px-5'>
      <div class='flex flex-col gap-y-4 md:min-h-[240px] xl:min-h-[390px] xlbig:min-h-[280px] pb-5 md:pb-0'>
        <h3 class='text-2xl font-bold text-tertiary'>{titulo}</h3>
        <p class='text-sm text-pretty pb-2'>{resumen}</p>
        <ul class='flex flex-wrap gap-2 flex-row items-center pb-8'>
          {
            tags.map((tag: any) => (
              <li>
                <span
                  class={`flex gap-x-1 items-center rounded-full text-xs lg:text-sm ${tag.class} py-1.5 px-2 border border-white/10 shadow-md`}
                >
                  <tag.icon class='size-4 lg:size-5' />
                  {tag.name}
                </span>
              </li>
            ))
          }
        </ul>

      </div>

      <div class='flex justify-end items-end'>

          <a
            href={`/info/${path}`}
            class='flex items-center gap-x-2 font-medium rounded-lg bg-gradient-to-r from-green-500 to-emerald-600 transition hover:from-green-600 hover:to-emerald-600 text-xs md:text-sm text-white py-2 px-3 shadow-md'
          >
            <InfoIcon />
            Saber más
          </a>
      </div>
    </div>
  </div>

  <span class='h-2 bg-gradient-to-r from-green-300 to-emerald-500 rounded-b-lg'
  ></span>
</article>
